.superb-features {
  background-color: #5dade2;
  color: #fff;
  font-family: 'Raleway';
  text-align: center;
  padding: 2.1rem 15% 1.4rem 15%;
}

.superb-features__title {
  font-size: 1.438em;
  font-weight: 700;
}

.superb-features__desc {
  font-weight: 400;
  font-size: 0.813em;
}